<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Créer un véhicule</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h1>Créer un véhicule:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/ajouterVehicule}"
      th:object="${vehiculeForm}" method="POST">
    Id:
    <input type="number" th:field="*{id}" />
    <br/>
    Marque:
    <input type="text" th:field="*{marque}" />
    <br/>
    Modèle:
    <input type="text" th:field="*{modele}" />
    <br/>
    Prix:
    <input type="number" th:field="*{prix}" />
    <br/>
    <input type="submit" value="Créer" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--     style="color:red;font-style:italic;">-->
<!--    ...-->
<!--</div>-->

</body>
</html>