<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste de véhicules</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Liste des véhicules</h1>
<a th:href="@{/ajouterVehicule}">Ajouter un véhicule</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Modèle</th>
        </tr>
        <tr th:each ="vehicule : ${vehicules}">
            <td th:utext="${vehicule.getId()}">...</td>
            <td th:utext="${vehicule.getMarque()}">...</td>
            <td th:utext="${vehicule.getModele()}">...</td>
            <td th:utext="${vehicule.getPrix()}">...</td>
        </tr>
    </table>
</div>
</body>
</html>